@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Index Page</h1>
    <p><strong>Test Message:</strong> @ViewBag.TestMessage</p>
    <p><strong>Home Message:</strong> @ViewBag.HomeMessage</p>
    <p><strong>Name:</strong> @ViewBag.Name</p>
    <p><strong>Age:</strong> @ViewBag.Age</p>
    <p><strong>Roll Number:</strong> @ViewBag.RollNumber</p>
</div>
